:root {
  --main-bg-color: #ecfefa;
  --manin-black-color: #000000a8;
}

.box-bg{
	background: var(--main-bg-color);
    margin: 15px 15px 10px 0px;
    width: 99%;
    padding-bottom: 15px;
}
.box{
	background: white;
    border: 3px solid white;
    border-top-color: #1cbdba;
    border-radius: 5px 5px 0px 0px;
}
.box-header{
	border-bottom: 1px solid #f4f4f4;
}
.box-body{
	padding:10px;
}
.box-heading{
	padding: 7px 10px;
    font-size: 25px;
    color: var(--manin-black-color);
    text-transform: capitalize;
}
.second_heading{
	padding: 7px 10px;
	color: var(--manin-black-color);
}


.breadcrumb{
	padding: 11px 10px 0px 0px;
}
.angle_double_right{
	font-size: 8px;
  color: gray;
  margin: 4px 7px 1px 11px;
}
.breadcrumb_a{
	font-size: 12px;
  color: #484545;
}

.margin-left-10{
  margin-left: 10%;
}
.margin_top_10{
  margin-top: 20px;
}
.padding-10{
	padding: 10px;
}
.margin-right-10{
	margin-right: 15px;
}
small{
	font-size: 16px;
  font-style: italic;
}
.card_box_shadow{
	box-shadow: 1px 2px 16px #80808070;
}
.dropdown-item{
	color:black !important;
}
.dropdown-item:hover{
	color:white !important;
	background-color: #1cbdba;
}
.bg-default{
  background-color: #1cbdba !important;
  color:white !important;
}
.btn-outline-default{
  border-color: #1cbdba !important;
  color:#1cbdba !important;
  background: white !important;
}
.float-right{
  float: right ;
}
.float_left{
  float: left;
}
.margin-28{
  margin: 28px;
}
.margin-20{
  margin: 20px;
}
hr{
  border-top : 1px solid rgb(0 0 0 / 31%) !important;
  width: 93% !important;
}
.display_block{
  display: block;
}
.font_weight_normal{
  font-weight: normal;
}
.border_radius_50{
  border-radius: 50%;
}
.margin_top_40{
  margin-top: 40px;
}
.margin_0{
  margin-top: 0;
  margin-bottom: 0;
}
.height_80{
  height: 80px !important;
}
.form_box_shadow{
  box-shadow: 1px 1px 14px #80808063;
  margin: 10px 10px 20px 10px !important;
  padding: 12px 12px 20px;
  border-radius: 13px;
}